    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand logo" href="#">uberquick</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                        <h1 class="tagline">Offer same-hour delivery, right now.</h1>
                        <h3 class="tagline-s">Get started in 15 minutes</h3>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Same-hour Delivery</h2>
                    <p class="lead">Forget same-day delivery. Leverage the power of Uber to provide your customers the most seamless and efficient delivery service. Be faster and cheaper than Amazon. Size does not matter.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="icon" src="http://icons.iconarchive.com/icons/icons8/ios7/256/Ecommerce-Delivery-icon.png">

                </div>
            </div>
            <br>
            <hr class="section-heading-spacer">
            </br></br>
            <div class="row">
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="icon" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/shoping_cart.png">

              </div>
              <div class="col-lg-5 col-sm-6">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Secure check-out</h2>
                  <p class="lead">On checkout, we take your customers through our secure checkout process powered by Venmo. They are simply redirected back to your store afterward.</p>
              </div>

            </div>
            </br>
            <hr class="section-heading-spacer">
            <br>
            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Easy-integration</h2>
                    <p class="lead">Simply download our Javascript library to integrate 'checkout with uberquick'. Make simple, RESTful API calls. Get up and running in 15 minutes.</p>
                    <p>Wanna integrate your own uberquick checkout button? Here's our endpoint: <code>POST /api/v1/checkout</code> Simple as that.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="icon" src="http://879154140.r.lightningbase-cdn.com/wp-content/uploads/2013/10/Sections-of-Website-Services-icon.png">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b">

        <div class="container-last">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Simple as that.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 rest-sample">
                  <code>POST /api/v1/checkout</code>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <a href="/demopage" class="demo">see it in action</a>
              </div>
            </div>
            <div class="row"><a href="" target="_blank"><img src="http://i61.tinypic.com/msm3q9.gif" border="0" alt="Image and video hosting by TinyPic"></a></div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->




