
<div class="container-fluid">
<h1 class="page-header">Confirmation</h1>
    <p>Congrats! If you're seeing this. You're probably one of our first customers!</p>
    <p>You paid $111.72 for 3 6-packs of Fat Tire and 1 Digiorno Pizza from a fake store</p>
    <p>Your Uber driver should deliver that to you in 35 minutes</p>
</div>

<a class="uxlink" href="/">Back to homepage</a>
