<!DOCTYPE html>
<html>
<head>
  <title>UberquickDemo</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="ENTER PATH TO FLATLY CSS HERE">
<link rel="stylesheet" type="text/css" href="ENTER PATH TO BOOTSTRAP HERE">
    <script src="PATH TO MOCK.JS HERE"></script>
<link rel="stylesheet" type="text/css" href="MOCK.CSS">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
